<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="Margin-top:150px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #343434;">
        <img src="images/Logo.png" alt="Logo" style="Height:35px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="Error"></div>
        <div class="form-group">
          <form>
          <label for="exampleInputEmail1" >Username</label>
          <input type="text" class="form-control" placeholder="Username" id="Username">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" placeholder="Password" id="Password">
          <form>
        </div>
      </div>
      <a class="btn btn-block  btn-social btn-facebook center-block" style="width:35%;">
            <span class="fa fa-facebook"></span> Sign in with Facebook
      </a>
      <a class="btn btn-block btn-social btn-google center-block" style="width:35%;">
            <span class="fa fa-google"></span> Sign in with Google
      </a>
      <div class="modal-footer" style="margin-top:30px;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="Login" style="background: #343434;">Login</button>
      </div>
    </div>
  </div>
</div>
