<div class="modal fade" id="SignupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #343434;">
        <img src="images/Logo.png" alt="Logo" style="Height:35px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="Error"></div>
        <div class="form-group">
            <label for="exampleInputEmail1" style="padding:5px;" >Name</label>
            <input type="text" class="form-control" placeholder="Name" id="Name">
            <label for="exampleInputEmail1" style="padding:5px;" >Last name</label>
            <input type="text" class="form-control" placeholder="Last Name" id="LastName">
            <label for="exampleInputEmail1" style="padding:5px;" >Username</label>
            <input type="text" class="form-control" placeholder="Username" id="Usernames">
            <label for="exampleInputEmail1" style="padding:5px;">Email</label>
            <input type="text" class="form-control" placeholder="Email" id="Email">
            <label for="Passwordsign" style="padding:5px;">Password</label>
            <input type="password" class="form-control" placeholder="Password" id="Passwords" >
            <label for="Address" style="padding:5px;">Address Line 1</label>
            <input type="text" class="form-control" placeholder="Address Line 1" id="Address">
            <label for="Address1" style="padding:5px;">Address Line 2</label>
            <input type="text" class="form-control" placeholder="Address Line 2" id="Address1">
            <label for="City" style="padding:5px;">City</label>
            <input type="text" class="form-control" placeholder="City" id="City">
            <label for="Counties" style="padding:5px;">Counties</label>
            <select class="form-control" id="Counties">
              <option>Antrim</option>
              <option>Armagh</option>
              <option>Carlow</option>
              <option>Cavan</option>
              <option>Clare</option>
              <option>Cork</option>
              <option>Derry</option>
              <option>Donegal</option>
              <option>Down</option>
              <option>Dublin</option>
              <option>Fermanagh</option>
              <option>Galway</option>
              <option>Kerry</option>
              <option>Kildare</option>
              <option>Kilkenny</option>
              <option>Laois</option>
              <option>Leitrim</option>
              <option>Limerick</option>
              <option>Longford</option>
              <option>Louth</option>
              <option>Mayo</option>
              <option>Meath</option>
              <option>Monaghan</option>
              <option>Offaly</option>
              <option>Roscommon</option>
              <option>Sligo</option>
              <option>Tipperary</option>
              <option>Tyrone</option>
              <option>Waterford</option>
              <option>Westmeath</option>
              <option>Wexford</option>
              <option>Wicklow</option>
            </select>
      </div>
    </div>
      <a class="btn btn-block  btn-social btn-facebook center-block" style="width:35%;">
            <span class="fa fa-facebook"></span> Sign up with Facebook
      </a>
      <a class="btn btn-block btn-social btn-google center-block" style="width:35%;">
            <span class="fa fa-google"></span> Sign up with Google
      </a>
      <div class="modal-footer" style="margin-top:30px;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="SignUp" style="background: #343434;">Sign up now!</button>
      </div>
    </div>
  </div>
</div>
